<div class="card shadow-sm">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title" id="question-text">Question text here</h5>
      <div>
        <button class="text-danger bg-body border-0" id="delete-question">
          &#128465;
        </button>
        <button class="text-danger bg-body border-0" style="font-size: x-large" id="add-remove-question">
        </button>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted" id="question-type">Type: </h6>
    <p class="mb-1"><strong>Difficulty:</strong> <span id="question-difficulty"></span></p>

    <strong class="text-danger">Incorrect Answer(s):</strong>
    <ul class="mb-3" id="answers-list"></ul>

    <div class="text-success"><strong>Correct Answer:</strong> <span id="correct-answer"></span></div>
  </div>
</div>